<!-- extends base.html -->
{% extends 'base.html' %}
<!-- load bootstrap tags -->
{% load bootstrap_tags %}
<!-- page title -->
{% block page_title %}Password Reset Confirm{% endblock %}
<!-- page heading -->
{% block page_heading%}Password Reset Confirm{% endblock %}
<!-- content block -->
{% block content%}
<!-- main container-->
<div class="container main-page">
  <!-- Heading -->
  <h1>Enter a new password!</h1>
  <!-- form -->
  <form method="POST">
    <!--csrf token to prevent JavaScript injection-->
    {% csrf_token %}
    <!-- form to reset password -->
    {{ form | as_bootstrap }}
    <!-- button to reset password -->
    <button type="submit" class="btn btn-success">Reset Password</button>
    <!-- close form -->
  </form>
  <!-- close container-->
</div>
<!-- end content block -->
{% endblock %}