<!-- extends base.html-->
{% extends 'base.html' %}
<!-- page title -->
{% block page_title %} Password Reset Complete {% endblock%}
<!-- page heading -->
{% block page_heading %}Password Reset Complete {% endblock %}
<!-- block content-->
{% block content %}
<!-- main container-->
<div class="container main-page">
    <!-- inform user there password has been reset-->
    <p>Your password has been reset, you can go ahead and
    <!--link to login-->
    <a href="{% url 'login_customer' %}">LOGIN</a> </p>
<!-- close container-->
</div>
<!-- end content block-->
{% endblock %}