<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}Password Reset{% endblock %}

<!--page heading-->
{% block page_heading%}Password Reset{% endblock %}

<!--main content of the page-->
{% block content%}
<!-- main container -->
<div class="container main-page">
    <!--form requesting the customers email address-->
    <form method="POST" class="ginas-forms center password-reset">
        <p> Please enter your email address</p>
        <!--csrf token to prevent JavaScript injection-->
        {% csrf_token %}
        <!--prints any email errors that may occur-->
        {{ form.email.errors }}
        <!--djangos email field-->
        <label for="id_email">Email Address</label> {{form.email}}
        <!--reset button-->
        <button type="submit" class="btn btn-success">Reset Password</button>
        <!-- close form-->
    </form>
    <!-- close main container-->
</div>
<!--end of main content-->
{% endblock %}
