<!-- extends base.html -->
{% extends 'base.html' %}
<!-- page title -->
{% block page_title %} Password Reset Done{% endblock%}
<!-- content block -->
{% block content %}
<!-- main container -->
<div class="container main-page">
    <!-- informs customer an email has been sent to them -->
    <p> We've emailed you instructions to reset your password, if this account exists you should receive this email shortly.</p>
    <p> If you don't receive an email, please make sure you've entered the correct email address, and check your spam folder. </p>
    <!-- close main container-->
</div>
<!-- close content block -->
{% endblock %}
