<!--THE EMAIL TEMPLATE FOR A USER THAT HAS FORGOTTEN THEIR PASSWORD -->

<!--message shown in email about why you are recieving the email-->
You're receiving this email because you requested a password reset for your 
user account at Ginas Beauty Studio

<!--message in the email telling the customer to follow the link-->
"Please click the link below to reset your password:" 

<!--Link to reset password -->
{{site_name}}{% url 'password_reset_confirm' uidb64=uid token=token %}

<!--message to customer reminding them of their username-->
Incase you have forgotten your username is:" {{ user.get_username }} "

Thanks for using our site!" 

<!--sign off from the site-->
Gina 
