<!-- INFORMS CUSTOMERS THAT AN EMAIL HAS BEEN SENT TO THEIR EMAIL ADDRESS -->

{% extends 'base.html' %}

{% block page_title %} Password Reset Done{% endblock%}

{% block page_heading %} Reset Password Done {% endblock %}

{% block content %}
 
<p> We've emailed you instructions to reset your password, 
if this account exists you should receive this email shortly.</p>

<p> If you don't receive an email, please make sure you've entered the correct
email address, and check your spam folder. </p>

{% endblock %}