<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}News & Special Offers{% endblock %}

<!--page heading-->
{% block page_heading%}{{user}}Newws & Special Offers{% endblock %}

<!--main content of the page-->
{% block content%}
    
    <div class="row">
        
        <div class="col-md-2 col-sm-3 text-center">
           <img src="/media/img/profile.jpg" alt="ginas profile picture" class="img-circle">
            <p><span class="boldtext">Author</span>Gina</p>
        </div>
    </div>
    
    <div class="row">
        {% for post in posts %}
        <div class="row">
            <div class="col-md-10 col-sm-9">
                {% if post.image %}
                    <img src="/media/{{post.image}}" alt="Ginas Beauty Studio runpost image" class="img-blogpost">
                {% else %}
                    <img src="/media/img/Ginas_Beauty_Logo.jpg" alt="Ginas Beauty Studio Post Image" class="img-blogpost">
                {% endif %}
                <h3>{{post.title}}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p> {{ post.content|safe|linebreaks|truncatewords:30 }}</p>
                        <p> <a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read More</a></p>
                        <p><span class="boldtext">Published On: </span>{{post.published_date}}</p>
                        <p><span class="boldtext">Views: </span>{{post.views}}</p>
                        <p><span class="boldtext">Categories: </span>{{post.category}}</p>
                        <p><span class="boldtext">Tags: </span>{{post.tag}}</p>
                    </div>
                </div>
            </div>
            
            {% if user.is_staff %}
            <div class="row">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary" role="button">EDIT POST </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
       
   
<!--end the main content block-->
{% endblock %}