<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %} Gina's New Post {% endblock %}

<!--page heading-->
{% block page_heading%} Gina's New Post {% endblock %}

<!--main content of the page-->
{% block content%}
    <h1>New Post</h1>
    <!-- the method will post & it will be encrypted-->
    <form method="POST" enctype="multipart/form-data">
        <!--protection against cross site request forgery-->
        {% csrf_token %}
        {{form | as_bootstrap }}
        <button type="submit" class="btn btn-default">Save</button>
        
    </form>
    
<!--end of main content-->
{% endblock %}