<!-- extends base.html -->
{% extends 'base.html' %}

<!-- loads all static files -->
{% load static from staticfiles %}

<!-- load bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}Ginas Beauty Studio Tomitago Products{% endblock %}

<!-- main block content -->
{% block content %}
<!--open container-->
<div class="container main-page">
    <!-- tomitago logo container -->
    <div id="tomitago-logo">
        <!-- tomitago logo -->
        <img class="img-responsive center" src="{% static 'img/tomitago-logo.jpg' %}" alt="Tomitago Logo">
        <!-- close tomitago logo container -->
    </div>

    <!-- open available stock row -->
    <div class="row row-flex">
        <!-- products that are in stock -->
        {% for in_stock_products in in_stock_products %}
        <!-- open available products column -->
        <div class="col-sm-6">
            <!-- open product body -->
            <div class="product-body padding10">

                <!-- open product name row -->
                <div class="row padding10">
                    <!-- product heading -->
                    <h3 class="product-front padding10 line-center"><span class="bld">{{ in_stock_products.name }}</span></h3>
                    <!--close product name row-->
                </div>
                <!-- open product rating row -->
                <div class="row rating padding10">
                    <!--if product rating is greater than 0 -->
                    {% if in_stock_products.average_rating > 0 %}
                    <!-- show the rating out of 5 -->
                    <h4 class="product-front line-center"><span class="bld"> {{in_stock_products.average_rating }} / 5</span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h4>
                    <!-- end if statement -->
                    {% endif %}
                    <!-- end product rating row-->
                </div>

                <!-- open product details row -->
                <div class="row">
                    <!-- open the filp card outer container -->
                    <div class="flip-card col-md-7 treatment-flip-card">
                        <!--open flip card inner container -->
                        <div class="flip product-flip-card-dimensions">
                            <!-- front container image of product -->
                            <div class="product-img img-responsive front" style="background-image: url('{{ MEDIA_URL }}{{ in_stock_products.image }}')">
                                <!-- close flip card inner container -->
                            </div>

                            <!--open back container -->
                            <div class="back product-back">
                                <!--Description of product-->
                                <p class="product-description padding10"> {{ in_stock_products.content }}</p>
                                <!--close back container -->
                            </div>
                            <!-- close flip card inner container -->
                        </div>
                        <!-- close the flip card outer container -->
                    </div>

                    <!-- purchase details column -->
                    <div class="purchase-col col-md-5  treatment-flip-card">
                        <!-- row for the product price -->
                        <div class="row price-row padding10">
                            <!--product price-->
                            <h3 class="bld"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ in_stock_products.price }}</h3>
                            <!--close product price row-->
                        </div>
                        <!-- if the products are in stock -->
                        {% if in_stock_products.available_stock > 0 %}
                        <!-- row for add to cart form-->
                        <div class="row add-to-cart-row padding10">
                            <!-- form for add to cart -->
                            <form method="post" action="{% url 'add_to_cart' in_stock_products.id %}">
                                <!--csrf token for security to prevent JavaScript injection-->
                                {% csrf_token %}
                                <!-- open the input group-->
                                <div class="input-group">
                                    <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                                    <!-- button to add to cart-->
                                    <button type="submit" class="button-purchase btn btn-success bld"><span class="glyphicon glyphicon-plus"></span> ADD </button>
                                    <!--close the input group-->
                                </div>
                                <!--close the add product to cart form-->
                            </form>
                            <!--close row for add to cart form-->
                        </div>
                        <!-- otherwise -->
                        {% else %}
                        <!-- row for sold out -->
                        <div class="row add-to-cart-row padding10">
                            <!-- sold out -->
                            <h3 class="sold-out">SOLD OUT</h3>
                            <!--close row for sold out -->
                        </div>
                        <!-- end if statement -->
                        {% endif %}
                        <!-- row for review links-->
                        <div class="row review-row padding10">
                            <!--open review container -->
                            <div class="review">
                                <!-- link to view reviews -->
                                <h4><span class="bld">
                                <!-- view a review about the product-->
                                <a href="{% url 'view_reviews' in_stock_products.id %}"> View Reviews </a><br><br>
                                <!-- link to write a review -->
                                <a href="{% url 'new_review' in_stock_products.id %}"> Write a Review </a>
                                </span></h4>
                                <!--close the reivew links container -->
                            </div>
                            <!-- close row for review links-->
                        </div>
                        <!-- close the purchase details column -->
                    </div>
                    <!-- close the product details row -->
                </div>
                <!-- close product body -->
            </div>
            <!-- close available products column -->
        </div>
        <!-- end the for loop -->
        {% endfor %}
        <!--close available stock row-->
    </div>
    <!--close container-->
</div>
<!-- end main container block -->
{% endblock %}
<!-- javascript block -->
{% block end_js %}
<!-- flipcard.js for product flip cards-->
<script src="{% static 'js/flipcard.js' %}"></script>
<!-- end javascript block -->
{% endblock %}
