{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    
    <div class="row row-flex">
        {% for product in products %}
    
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
    
                <h3>{{ product.name }}</h3>
                {% if product.average_rating > 0 %}
                    <p> {{product.average_rating }} / 5</p>
                {% endif %}
                
                <p class="product-description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.price }}</p>
    
    
               <form method="post" action ="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                        <span class="input-group">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>ADD</button> 
                    </div>
                </form>
                <a href="{% url 'new_review' product.id %}"> Write a Review </a><br>
                <a href="{% url 'view_reviews' product.id %}"> View Reviews </a>
                
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

