/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Gloria+Hallelujah:100,200,300,400,500,600,700');
/*************************** BODY *******************************************/
/* set body css*/
body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: black;
    color: white;
    font-size: 18px;
}

/* remove white space*/
html, body {
    overflow-x: hidden;

}

/* remove paddings and margins from container fluid*/
.container-fluid {
    padding: 0;
    margin: 0;
}

/************************************* NAVIGATION *****************************/
/* the bootstrap navbar */
.navbar {
    border-radius: 0px;
    background-color: black;
    border-bottom: none;
    padding-top: 20px;
    min-height: 150px;
}

/* the links on the nav bar*/
.navbar-inverse .navbar-nav>li>a {
    color: #A326CE;
    font-weight: bold;
    font-size: 1.6em;
}

/* the logo */
#logo {
    padding: 0px;
    box-shadow: 1px 1px 50px 10px #A326CE;
    border-radius: 50px 0;
}

/* the hr line under the logo */
#logo-line hr {
    border: 3px solid #A326CE;
}

/* badge showing the number of cart items */
.badge {
    background-color: #EB3EF4;
}

/* the navbar toggle menu */
.navbar-toggle, .navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover, .navbar-toggle:active {
    background-color: #A326CE;
}

/********************  Classes used throughout *******************************/

/* center images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* center text */
.line-center {
    text-align: center;
}

/* Heading font and no margin */
h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

/* padding 10px */
.padding10 {
    padding: 10px;
}

/* padding 20px */
.padding20 {
    padding: 20px;
}

/* padding 50px*/
.padding50 {
    padding: 50px;
}

/* bold */
.bld {
    font-weight: bolder;
}

/* border radius 50px 0 */
.b-radius {
    border-radius: 50px 0;
}

/* font color purple */
.font-purple {
    color: #A326CE;
}

/* links */
a {
    color: #A326CE;
}

/* links when hovered over */
a:hover {
    color: white;
    text-decoration: none;
}

/* forms */
.ginas-forms {
    max-width: 700px;
    border: 3px solid #A326CE;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 50px 0;
}

/* placeholder */
textarea::placeholder, input::placeholder {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* input font */
input {
    color: black;
}

/* font black */
.font-black {
    color: black;
}

/* font white */
.background-white {
    background-color: white;
}

/* paragraph font size */
p {
    font-size: 18px;
}

/* align right */
.align-right {
    text-align: right;
}

/**************************** MESSAGES ****************************************/

/* message container */
#mesage-container {
    z-index: 2;
    background-color: white;
}

/* messages */
#messages {
    color: white;
    min-height: 70px;
}

/************ LANDING PAGE ****************************************************/

/* padding at top and bottom of the main container 50px */
.landing-page-heading {
    padding: 50px 0;
}

/****************** LANDING PAGE MAIN PICTURE ************/

/* z index of the main picture on index.html */
#firstpic {
    z-index: -1;

}

/***************************** TREATMENTS ****************/

/*container for outer filp card */
.flip-card {
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

/* container for inner flip card */
.flip {
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* card rotate when mouse moves into the card*/
.flip.mousein {
    transform: rotateY( 180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
     backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}


/*the front and back containers */
.flip div {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/*the front container z index */
.front {
    z-index: 2;
}

/*the back container rotated 180 degrees */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY( 180deg);
}

/*  inner flip card container dimensions */
.treatment-flip-card-dimensions {
    min-width: 100%;
    height: 320px;
}

/* front and back flip card dimensions */
.treatment-flip-card-dimensions div {
    min-width: 100%;
    height: 320px;

}

/* front flip card */
.treatment-front {
    padding: 30px;
}

/* black flip card */
.treatment-back {
    background-color: #A326CE;
    color: white;
    padding: 20px;
    font-size: 16px;
}

/* treatments H1 and links decoration */
.treatment-front H1, .treatment-back H1, .treatment-back a, .landing-page-div a {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #EB3EF4;
}

/* front and back H1 font size */
.treatment-front H1, .treatment-back H1 {
    font-size: 25px;
}

/* front and back treatment card links */
.treatment-back a, .landing-page-div a {
    font-family: 'Gloria Hallelujah', cursive;
    color: #EB3EF4;
    float: right;
    background-color: black;
    border-radius: 50px 0;
    padding: 20px;
}

/* treatment back card link*/
.treatment-back a {
    position: absolute;
    bottom: 0px;
    right: 0;
}

/* treatment back paragraph */
.treatment-back p {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 20px;
}

/* treatment back card H3 */
.treatment-back h3 {
    text-align: center;
    padding: 7px;
}

/* treatment card links on mobile view */
#mobile-treatments a {
    float: none;
}

/****************LANDING PAGE SHOP**************************/

/* shop container */
#landing-page-shop-div {
    background-color: white;
    color: #A326CE;
}

/* shop container H1 */
#landing-page-shop-div h1 {
    color: #629B68;
}

/* prodcut description paragraph */
#landing-product-description p {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    line-height: 200%;
}

/**************** LANDING PAGE NEWS & SPECIALS ****************/

/* news container */
#landing-page-news-div {
    background-color: #A326CE;
}

/* post container */
.single-post {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: white;
    height: 600px;
    background-color: #A326CE;
}

/* post thumbnail */
.single-post .thumbnail {
    background-color: #A326CE;
    border: none;
}

/* ppst image */
#post-img {
    max-width: 500px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* thumbnail read more link */
.thumbnail>a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #A326CE;
}

/* thumbnail caption */
.thumbnail .caption {
    color: white;
}

/* caption */
.caption {
    max-height: 180px;
    overflow: hidden;
}

/* carousel indicators */
.carousel-indicators {
    bottom: 0;
    font-size: 2em;
}

/* news container H3 links */
#landing-page-news-div h3 a {
    background-color: white;
    color: #A326CE;
}

/*************** LANDING PAGE CONTACT  ***************************/

/* contact gina container*/
#contact-gina {
    background-color: black;
}

/* google map */
#map {
    min-height: 70vh;
    width: 100vw;
    border: 2px solid #A326CE;
    margin: 100px 0 0 20px;
}

/* the horizontal rule in the contact section*/
#contact hr {
    width: 50%;
    padding: 20px 0;
}

/* contact link */
#contact a {
    float: none;
    padding: 0;
    border-radius: 0;
    font-family: 'Didact Gothic', sans-serif;
    text-decoration: none;
}

/* fontawesome facebook glyphicon */
.fa-facebook-f {
    background: #3B5998;
    color: #FFFFFF;
    padding: 0.1em 0.3em;
    border-radius: 50%;
    margin: 0.15em;
    font-size: 2.5em;
}

/* landing page contact button*/
#contact-btn{
    background-color: #A326CE;
    border-radius:10px;
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding:10px;
}

/************** LANDING PAGE GENERAL ****************************/

/* Landing page containers */
.landing-page-div {
    min-height: 100vh;
    min-width: 100vw;
}

/* landing page containers H3 links */
.landing-page-div h3 a {
    background-color: #A326CE;
    color: white;
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

/************************ TREATMENTS ******************************************/

/* treatment tables H2 */
td>h2, #wax h2 {
    color: #A326CE;
    padding: 20px 0;
}

/* 1st columns */
tr>td,
#wax {
    padding-left: 20px;
}

/* table cation */
table caption {
    color: #A326CE;
    text-align: center;
    font-size: 32px;
    font-family: 'Gloria Hallelujah', cursive;
}

/* contact gina container on large devices */
#contact-gina-lg {
    font-weight: bold;
    font-size: 24px;
    background-color: #A326CE;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* contact gina link on large devices */
#contact-gina-lg a {
    color: white;
}

/* contact gine link when hovered over - on large devices */
#contact-gina-lg a:hover {
    color: black;
    text-decoration: none;
}

/* table container */
#table-container {
    margin-bottom: 100px;
    width: 90vw;
}

/*********************** PRODUCTS *********************************************/

/* container for all products */
.product-body {
    border: 3px solid #A326CE;
    border-radius: 15px 0;
    height: 100%;
    margin-bottom: 100px;
    padding: 0 30px;
}

/* star rating div */
.rating {
    min-height: 40px;
}

/* sold out div */
.sold-out {
    color: red;
    font-weight: bolder;
    padding: 10px 20px;
    font-size: 20px;
}

/* add to cart button */
.button-purchase {
    float: right
}

/* euro glyphicon */
.glyphicon-euro {
    padding: 2px 7px 0 0;
}

/* tomitago logo */
#tomitago-logo {
    background-color: white;
    margin-bottom: 80px;
    border-radius: 50px 0;
}

/*********** FLIP CARD FOR PRODUCTS **********/

/* product flip card dimensions */
.product-flip-card-dimensions {
    width: 225px;
    height: 300px;
}

/* dimensions of front and back prodcut flip cards */
.product-flip-card-dimensions div {
    width: 225px;
    height: 300px;
    border-radius: 15px 0;
}

/* back of flip card */
.product-back {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #A326CE;
}

/********************** NEWS & SPECIAL OFFERS *********************************/

/* post container buttons */
.post-details .btn {
    margin: 10px 20px 20px 10px;
}

/* post image */
.post-img {
    max-height: 300px;
}

/* single post container */
.mini-post {
    margin: 0px 20px 0 5px;
}

/* full post heading */
.full-post-heading {
    padding: 50px 0 20px 0;
}

/* Post Heading */
.page-main-heading h1 {
    font-size: 40px;
    padding: 50px 10px;
}

/* full post container */
#full-post-div {
    padding-bottom: 50px;
}

/* width of the post form */
#blog-form {
    max-width: 920px;
}

/* post content input area width */
#cke_id_content {
    width: 70vw;
}

/******************** PROFILE *************************************************/

/* profile container */
#profile-div {
    border-radius: 50px 0;
    margin-bottom: 50px;
}

/* past order, reviews and cart containers */
#past-orders, #review-div, #cart-div {
    border: 3px solid #A326CE;
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px 0;
}

/* review container button */
#review-div .btn {
    margin: 10px 20px 20px 10px;
}

/* profile heading margin bottom */
#profile-heading {
    margin-bottom: 50px;
}

/* edit profile form labels width*/
#edit-profile-form label {
    width: 130px;
}

/* edit profile form input area minimu width */
#edit-profile-form input {
    min-width: 220px;
}

/* edit profile form button */
#edit-profile-form button {
    float: right;
}

/*************************** CART ********************************************/

/* cart thumbnail */
.cart-thumbnail {
    max-height: 150px;
    max-width: 150px;
}

/*********************** CHECKOUT ********************************************/

/* payment form container margin*/
#payment-form div {
    margin: 10px;
}

/* payment form legend */
#payment-form legend {
    color: white;
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
}

/* payment form center H2*/
#payment-form h2 {
    text-align: center;
}

/* stripe error messages */
#stripe-error-message {
    font-size: 18px
}

/******************************** Footer **************************************/

/* footer container*/
footer {
    border-top: 3px solid #A326CE;
    min-height: 100px;
    padding: 30px 60px;
}

/* footer buttons */
footer .btn {
    background-color: black;
    color: white;
    border: none;
}

/************************* Footer SEARCH FORM *********************************/

/* search form */
#search-form {
    max-width: 220px;
    float: right;
}

/* search form input area */
#search-input {
    width: 80%;
    display: inline;
}

/* search form button */
#search-button {
    background-color: #A326CE;
    padding: 5px;
}

/*************  MEDIA QUERIES *************************************************/

/************* Extra small devices (phones, 350px and down) *******************/

@media only screen and (max-width: 350px) {
    
    /* product container */
    .product-body {
        padding: 10px;
        height: 100%;
        width: 100%;
    }
}


/************* Extra small devices (phones, over 350px ) *******************/
@media only screen and (min-width: 350px) {
    
    /* logo */
    #logo {
        max-height: 200px;
        max-width: 200px;
    }
    
    /* edit profile form input area */
    #edit-profile-form input {
        min-width: 250px;
    }
}

/******* XS devices (portrait tablets and large phones, 600px and up) ******/

@media only screen and (min-width: 600px) {
    /* logo */
    #logo {
        max-height: 200px;
        max-width: 200px;
    }
    
    /* main containers on each page */
    .main-page {
        padding-top: 100px;
        min-height: 100vh;
    }
    
    /* edit profile form input area */
    #edit-profile-form input {
        min-width: 400px;
    }
    
    /* edit profile form */
    #edit-profile-form {
        margin-bottom: 100px;
    }
}

/**************** SM devices (landscape tablets, 768px and up) ************/

@media only screen and (min-width: 768px) {
    /* navbar links */
    .navbar-inverse .navbar-nav>li>a {
        font-size: 1em;
    }
    
    /* single post margins */
    .mini-post {
        margin: 0px 5px 0 5px;
    }
}

/***************** MD devices (laptops/desktops, 992px and up) *************/

@media only screen and (min-width: 992px) {
    
    /* paragraph and links */
    p, li {
        font-size: 25px;
    }
    
    /* logo */
    #logo {
        max-height: 300px;
        max-width: 300px;
    }

    /* main container on each page */
    .main-page {
        padding-top: 200px;
    }
    
    /* product container */
    .product-body {
        height: 450px;
        width: 450px;
    }
    
    /* flip container */
    .flip {
        float: left;
    }
    
    /* purchase columns */
    .purchase.col {
        float: right;
    }

    /* forms padding */
    #payment-form .ginas-forms {
        padding: 5px;
    }
    
    /* payment form H2 */
    #payment-form h2 {
        padding: 20px;
    }
    
    /* profile container */
    #profile-div {
        padding: 50px;
    }
    
    /* profile containers h2 padding */
    #profile-div>div>h2 {
        padding: 50px;
    }
    
    /* treatment front and back cards H1 */
    .treatment-front H1, .treatment-back H1 {
        font-size: 36px;
    }
    
    /* landing page container H3 links*/
    .landing-page-div h3 a {
        margin: 70px;
    }
    
    /* news container */
    #landing-page-news-div {

        padding: 0 100px 0 50px;
    }
    
    /* post image */
    #post-img {
        background-size: cover;
        width: auto
    }
    
    /* single post */
    .single-post {
        border-right-width: 5px;
        border-right-style: solid;
        border-right-color: white;
        border-bottom: none;
    }
    
    /* main heading h1*/
    .page-main-heading h1 {
        font-size: 60px;
        padding: 20px 0 100px 0;
    }

    /* 2nd column */
    td:nth-child(2) {
        padding-right: 50px;
        border-right: 2px solid #A326CE;
    }
    
    /* treatments paragraph */
    #wax p {
        font-size: 23px;
    }
    
    /* columns */
    td {
        font-size: 26px;
    }
    
    /* container of the treatments table */
    #table-container {
        width: 80vw;
    }
    
    /* search button */
    #search-button {
        padding: 0 5px;
    }
    
    /* submit button */
    #submit_payment_btn {
        margin-right: 20px;
    }
}

/***************** LG devices (laptops/desktops, 1200px and up) *************/

@media only screen and (min-width: 1200px) {

    /* logo */
    #logo {
        max-height: 400px;
        max-width: 400px;
    }
    
    /* purchase column */
    .purchase-col {
        height: 300px;
        padding-left: 30px;
    }
    
    /* price row */
    .price-row {
        padding-top: 40px;
        height: 100px;
    }
    
    /* add to cart row */
    .add-to-cart-row {
        height: 100px;
    }

    /* review row */
    .review-row {
        text-align: center;
        height: 100px;
    }

    /* landing page heading padding */
    .landing-page-heading {
        padding: 100px 0;
        font-size: 60px;
    }

    /* full post heading */
    .full-post-heading, #profile-heading, #cart-heading {
        font-size: 60px;
    }

    /* quantity input area */
    .input-group .form-control {
        width: 49%;
        float: left;
    }
}