{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{publishable}}';
        //]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container main-page">
     <div class="row">
        <div id="cart-heading" class="col-xs-12 line-center">  
            <h1 class="padding10"> Checkout </h1>
        </div>
    </div>
    
    <!-- cart details main div -->
    <div id="cart-div" class="row row-flex background-white font-black">
        <!-- for each item in the cart -->
        {% for item in cart_items %}
        <!-- cart item row -->
            <div id="cart-item" class="row">
                
                <!-- thumbnail image-->
                <div class="col-xs-5 col-sm-3">
                    <img class="cart-thumbnail img-responsive" src="/media/{{item.product.image}}" alt="Ginas Beauty Studio runpost image">
                </div>
                <!-- product name -->
                <div class="col-xs-7 col-sm-4 bld"><p>{{item.product.name}}</p></div>
                <!-- product price -->
                <div class="col-xs-7 col-sm-3"><p>@ <span class="bld">€ {{item.product.price}}</span> per qty</p></div>
                <div class="col-xs-7 col-sm-2 align-right"><p>= <span class="bld">€ {{item.item_total}}</span></p></div>
            <!-- close item row -->
            </div>
            <hr>
            {% endfor %}
        <!-- close cart details main div -->
            <!-- total amount row -->
        <div class="row bld font-purple align-right padding20">
            <p> Total:  € {{total}}</p>
            <p><a href="{% url 'checkout' %}" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden"true"></span>Checkout</a>
            </a></p>
        <!--close total amount row -->
        </div>
    <!-- close cart details main div-->
    </div>
    
   
    
        <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
            <legend>Payment Details</legend>
           
            <div class="ginas-forms form-group col-md-6">
                <h2> Personal Details </h2>
                {{ order_form|as_bootstrap }}
            </div>
            
            <div class="ginas-forms form-group col-md-5">
                <h2> Payment Details </h2>
                {{ payment_form|as_bootstrap }}
                
                {% csrf_token %}
                <div class="form-group col-md-12 align-right">
                    <input class="btn btn-success" id="submit_payment_btn" name="commit" type="submit" value=" Submit Payment">
                </div>
                 
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error align-right" id="stripe-error-message"></div>
                </div>
            
            </div>
        </form>
    
       
</div>
{% endblock %}