<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}Edit Your Profile{% endblock %}

<!--page heading-->
{% block page_heading%}Edit Your Profile{% endblock %}

<!--main content of the page-->
{% block content%}
<div class="container main-page">
    
    <!-- Heading -->
    <h1 class="line-center padding10 bld"> Edit Profile </h1>

    <!--edit customer profile form-->
    <form id="edit-profile-form" class="center ginas-forms" method="POST">

        <!--csrf token for security to prevent JavaScript injection-->
        {% csrf_token %}

        <!--registration form requesting customer details-->
        {{ form.as_p }}

        <!--Register button -->
        <button type="submit" class="btn btn-success"> SAVE </button>
    <!-- close form -->
    </form>
<!-- I needed to add these closing divs as form.as_p didn't close the divs automatically and bootstrap couldn't handle the password section-->
</div>
</div>
</div>
</div>
<!-- close container -->
</div>

<!--end of main content-->
{% endblock %}
