<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}Edit Your Profile{% endblock %}

<!--page heading-->
{% block page_heading%}Edit Your Profile{% endblock %}

<!--main content of the page-->
{% block content%}
<div class="container">

   
    <!--edit customer profile form-->
    <form method="post">
        
        <!--csrf token for security to prevent JavaScript injection-->
        {% csrf_token %}
        
        <!--registration form requesting customer details-->
        {{ form.as_p }}
        
        <!--Register button -->
            <button type="submit" class="btn btn-default"> SAVE </button>
    </form>   
</div>

<!--end of main content-->
{% endblock %}        
