<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}LOGIN{% endblock %}

<!--page heading-->
{% block page_heading%}CUSTOMER LOGIN{% endblock %}

<!--main content of the page-->
{% block content%}

<!--a customer login form with a POST method-->
<form method="POST">
    <!--csrf token for security to prevent JavaScript injection-->
    {% csrf_token %}
    
    <!--login form requesting username and password-->
    {{ customer_login_form | as_bootstrap }}
    <!--login button -->
    <button type="submit" class="btn btn-default"> LOGIN </button>
</form>   

<!--link to reset password-->
<p><a href="{% url 'password_reset' %}"> Forgotton your password you can reset it here</a></p>

<!--end of main content-->
{% endblock %}        
