<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %}{{user}}'s profile{% endblock %}

<!--main content of the page-->
{% block content%}

<!-- PROFILE SECTION: shows customer details email. name and a link to edit their details -->
<div class="container main-page">

    <!-- row -->
    <div class="row">
        <!-- heading -->
        <h1 id="profile-heading" class="font-purple bld line-center"> Your Profile </h1>

        <!-- Customer Profile -->
        <div id="profile-div" class="col-xs-12 background-white font-black">
            <!-- contaner for customers profile details  -->
            <div id="profile" class="line-center padding10">
                <!-- Customer name -->
                <p class="padding10"><span class="bld font-purple">Name: </span>{{customer_profile.first_name}} {{customer_profile.last_name}}</p>
                <!-- Customers Username -->
                <p class="padding10"><span class="bld font-purple">Username: </span>{{customer_profile.username}}</p>
                <!-- Customers Email-->
                <p class="padding10"><span class="bld font-purple">Email: </span>{{customer_profile.email}}</p>
                <!-- Button linking to edit profile -->
                <a href="{% url 'edit_profile' %}" class="btn btn-success padding10" role="button">Edit Profile </a>
            </div>

            <!--ORDERS SECTION: shows all past orders  from this customer and the tracking details -->
            <!-- if the customer has had orders in the past -->
            {% if orders %}
            <!-- past order container -->
            <div id="past-orders" class="col-xs-12">
                <!-- heading -->
                <h2 class="bld font-purple padding20 line-center"> PAST ORDERS </h2>
                <!-- for all past orders -->
                {% for orders in orders %}
                <!-- create a div container -->
                <div>
                    <!-- show the order date, order name, quantity ordered, product price, and the current status of the order-->
                    <p><span class="boldtext">{{orders.order.date}} - {{ orders.product.name }} </span>X {{ orders.quantity }} <span class="boldtext"> @ </span> {{ orders.product.price }} each - {{ orders.status }} </p>
                    <!-- close order div container-->
                </div>
                <!-- horizontal line-->
                <hr>
                <!-- end the for loop -->
                {% endfor %}

                <!-- pagination for the orders section only showing 5 orders per page-->
                <div class="pagination">
                    <!-- if there are previous pages -->
                    {% if orders.has_previous %}
                    <!-- link to the previous orders -->
                    <a href="?page={{ orders.previous_page_number }}">previous</a>
                    <!-- end if -->
                    {% endif %}

                    <!-- show the current page number of total number of pages -->
                    <span class="current">
                    Page {{ orders.number }} of {{ orders.paginator.num_pages }}
                </span>

                    <!-- if there are more pages -->
                    {% if orders.has_next %}
                    <!-- link to the next page-->
                    <a href="?page={{ orders.next_page_number }}">next</a> {% endif %}
                </div>
                <!-- end if -->
                {% endif %}
                <!--end past orders div -->
            </div>

            <!-- REVIEWS SECTION: Shows all reviews this customer has written on this website      -->
            <!-- if the customer has made a review-->
            {% if reviews %}
            <!-- create a review div -->
            <div id="review-div" class="padding10 col-xs-12">
                <!-- heading -->
                <h2 class="bld font-purple padding20 line-center"> PAST REVIEWS </h2>
                <!-- for all reviews-->
                {% for reviews in reviews %}
                <!-- create a review row-->
                <div class="row">
                    <!-- horizontal rule -->
                    <hr>
                    <!-- create a column -->
                    <div class="col-sm-12">
                        <!-- Heading is name of product being reviewed -->
                        <h2 class="font-purple line-center">{{reviews.product}}</h2>
                        <!-- horizontal rule -->
                        <hr>
                        <!-- Review Rating -->
                        <p><span class="bld font-purple"> Ratings: </span><span class="green">{{ reviews.rating }} / 5 </span> </p>
                        <!-- Review title -->
                        <p><span class="bld font-purple"> Product Title: </span> {{reviews.title}}</p>
                        <!-- Review Written By -->
                        <p><span class="bld font-purple"> Written By: </span>{{reviews.user}}</p>
                        <p><span class="bld font-purple"> Published On: </span>{{reviews.date}}</p>
                        <!-- Review Comment made about the product -->
                        <p><span class="bld font-purple"> Comment: </span></p>
                        {{ reviews.comment|safe|linebreaks}}
                        <!-- Would you recommend to a friend -->
                        <p><span class="bld font-purple"> Would you recommend to a friend: </span> {{ reviews.would_you_recommend_to_a_friend}} </p>
                        <!-- link to edit the review -->
                        <a href="{% url 'edit_review' reviews.id %}" class="btn btn-success" role="button">Edit Review </a>
                        <!-- link to delete the review -->
                        <a href="{% url 'delete_review' reviews.id %}" class="btn btn-success" role="button">Delete Review</a>
                        <!-- close the row -->
                    </div>
                    <!-- close the review container -->
                </div>
                <!-- end the for loop -->
                {% endfor %}
                <!-- horizontal rule -->
                <hr>

                <!-- pagination for the reviews section only showing 3 reviews per page-->
                <div class="pagination">
                    <!-- If there are previous pages -->
                    {% if reviews.has_previous %}
                    <!-- link to the previous page-->
                    <a href="?page={{ reviews.previous_page_number }}">previous</a>
                    <!-- end if -->
                    {% endif %}
                    <!-- shows the current page number of total number of pages -->
                    <span class="current">
                    Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.</span>
                    <!-- if there is a next page -->
                    {% if reviews.has_next %}
                    <!-- link to the next page -->
                    <a href="?page={{ reviews.next_page_number }}">next</a>
                    <!-- end if -->
                    {% endif %}
                    <!-- close the pagination div container-->
                </div>
                <!-- end  if there are reviews -->
                {% endif %}
                <!--close background white font black-->
            </div>
            <!-- close customer profile-->
        </div>
        <!-- close row -->
    </div>
    <!-- close container -->
</div>

{% endblock %}