<!--extension to the base.html file-->
{% extends 'base.html' %}

<!--loads bootstrap tags -->
{% load bootstrap_tags %}

<!--page title-->
{% block page_title %} REVIEW PRODUCT {% endblock %}

<!--page heading-->
{% block page_heading%} ADD A REVIEW {% endblock %}

<!--main content of the page-->
{% block content%}
    <div class="container main-page">
        <h1 class="line-center padding10 bld"> Review </h1>
        <!-- the method will post & it will be encrypted-->
        <form class="center ginas-forms" method="POST" enctype="multipart/form-data">
            <!--protection against cross site request forgery-->
            {% csrf_token %}
            {{form | as_bootstrap }}
        
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
<!--end of main content-->
{% endblock %}